{% extends "pizza/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Pizzeria</h1>

        <p class="lead">Select your pizza then select your favorite toppings. Feel free to comment on the pizza you ordered!</p>

        <a class="btn btn-lg btn-primary" href="{% url 'pizza:pizzas' %}"
            role="button">Pizzas &raquo;</a>
    </div>

    <p>
        <img src="https://ichef.bbci.co.uk/news/1024/cpsprodpb/4016/production/_112360461_gettyimages-1083704790.jpg" alt="Pizza">
    </p>

{% endblock page_header %}
